---
title: "1st International ACM SIGIR Conference on Research and Development in Information Retrieval - July 25-30, 2020
(Xi'an, China)"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body class="header-fixed">

    <div class="wrapper">
        <!--=== Header===-->
        <div class="header-v2 header-sticky">
            <div class="container container-space"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!-- Image Gradient -->
        {% include dynamic_banner.html directory="main-banners" picture_num="3" %}

        <div class="container">

            <h1 class="animated fadeInUp">SIGIR-AP 2023</h1>
            
            <p class="animated fadeInRight" id="sub_title">1<sup>st</sup> International ACM SIGIR Conference on
                Information Retrieval in the Asia Pacific
            </p>
            <p class="animated fadeInLeft">November 26-29, 2023, Beijing, China</p>
        </div>
    </div>
    <!-- End Image Gradient -->

    <div class="purchase bg-grey">
        <div class="container">
            <div class="row">
                <!-- Left panel -->
                <div class="col-md-3">
                    <!-- ===== social media icons START -->
                    <!--
                    <div class="tile">
                        <a class="btn-u btn-u-aqua btn-u-xs" href="https://twitter.com/sigir2020"
                            alt="sigir2020 @sigir2020 Twitter profile" target="_blank" style="margin-left: 2%;"><i class="fa fa-twitter"></i>
                            Follow us on Twitter.</a>
                         <a class="btn-u btn-u-dark-blue btn-u-xs" href="https://www.facebook.com/sigir2020"
                            alt="sigir2020 @sigir2020 facebook profile" target="_blank" style="margin-left: 2%;"><i class="fa fa-facebook"></i>
                            Follow us on Facebook.</a> 
                    </div> -->
                    <div class="tile">
                        {%- include twitter_timeline.html account="QingyaoAi" -%}
                    </div>
                    <!-- ===== social media icons END -->
                    <!-- <div class="tile">
                        <a class="btn-u btn-u-green btn-u-xs" alt="sigir2020 @sigir2020 WeChat profile" target="_blank" style="margin-left: 5%;"><i class="fa fa-wechat"></i>
                            Follow us on WeChat.</a>
                        <a class="btn-u btn-u-yellow btn-u-xs" href="https://www.weibo.com/u/7473346537"
                            alt="sigir2020 @sigir2020 Weibo profile" target="_blank" style="margin-left: 4%;"> <i class="fa fa-weibo"></i>
                            Follow us on Weibo.</a>
                    </div>
                    -->
                    <img src="assets/img/WeChat_qr.jpg" style="width: 41%; margin-top: 3%; margin-left: 7%; ">
                    <img src="assets/img/Weibo_qr.png" style="width: 35%; margin-top: 3%; margin-left: 8%; ">
                </div>
                <!-- Left panel ends -->
                <div class="col-md-1">
                </div>
                
                <!-- Right panel -->
                <div class="col-md-8 animated fadeInUp">
                    <!--Save the date-->
                    <div class="save_the_date margin-bottom-50" id="save_the_date">
                        <span>About the Conference</span>
                        <p>The annual SIGIR-AP conference is an annual ACM-sponsored international forum that promotes 
                            and disseminates information retrieval research and development within the Asia-Pacific 
                            region defined as all of Asia, Australasia, and the islands of the Pacific and Indian Oceans. 
                            The 1st ACM SIGIR-AP conference, to be held in Beijing from the 26th to the 29th of November 2023, 
                            welcomes contributions related to any aspect of information retrieval and access. 
                            The main conference is a two-day event, with tutorial and workshop days before and 
                            after the main conference. The conference and program chairs invite those working in areas related to IR to
                            submit high-impact original papers for review,
                            and we expect authors, PC, and the organizing committee to follow 
                            <a href="https://www.acm.org/special-interest-groups/volunteer-resources/acm-conflict-of-interest-policy">
                                the ACM’s Conflict of Interest Policy
                            </a>
                            and 
                            <a href="https://www.acm.org/code-of-ethics">
                                the ACM’s Code of Ethics and Professional Conduct.
                            </a>
                        </p>
                    </div>


                    
                    <!-- Useful quick links-->
                    <!--<div class="userful_quick_links margin-top-20" id="userful_quick_links">
                        <h3 class="heading-md"><strong>Useful quick links</strong></h3>
                        <ul class="list-unstyled who margin-bottom-30">
                            <li><i class="fa fa-link"></i> EasyChair submission:
                                <a href="https://easychair.org/my/conference?conf=sigir2020" target="_blank"
                                    class="tooltips" data-toggle="tooltip"
                                    data-original-title="Jump to this page">https://easychair.org/my/conference?conf=sigir2020</a>
                            </li>
                        </ul>
                    </div>-->
                    
                    
                    <!--Important Dates & Notifications-->
                    <!--
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline">
                                <h2>Important Dates</h2>
                            </div>
                            <ul class="timeline-v2">
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Jan 15, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Full paper abstract registration</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Jan 22, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Full paper submission</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Feb 16, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Short paper abstract registration</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Feb 16, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Workshop and tutorial proposals</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Feb 23, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Short paper and demo submission</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar 01, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Doctoral consortium proposals</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Apr 01, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>SIRIP proposals</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">

                            <div class="headline">
                                <h2>Notifications</h2>
                            </div>
                            <ul class="timeline-v2">
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar 15, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Workshop notification</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Apr 22, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Full paper, short paper, demos, tutorials, doctoral consortium notifications
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 01, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>SIRIP notification</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    -->
                    <!--Important Dates & Notifications END-->

                </div>
                <!-- Right panel ends -->
            </div>
        </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->



    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
