---
title: "Organizers"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v2 header-sticky">
            <div class="container container-space"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        {% include dynamic_banner.html directory="main-banners" picture_num="5" %}

        <div class="container">
            <h1 class="animated fadeInUp">Organizers</h1>
        </div>
    </div>




    <div class="bg-color-white">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                <!--{% include banner.html %}-->
                <!-- Contents goes here -->
                <div class="news-v3-in">
                    <div class="row">
                        <h1 style="text-align: center">
                            <strong>General Chairs</strong>
                        </h1>
                        <!--{% include portrait.html name="" affiliation="" url="" %}
                            {% include portrait.html name="" affiliation="" image="" url="" %}-->
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                        {% include portrait.html name="Yiqun Liu" affiliation="Tsinghua University, China" url="" %}
                        {% include portrait.html name="Alistair Moffat" affiliation="University of Melbourne, Australia" url="" %}
                            </div>

                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Program Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Xuanjing Huang" affiliation="Fudan University, China" url="" %}    
                            {% include portrait.html name="Tetsuya Sakai" affiliation="Waseda University, Japan" url="" %}
                            {% include portrait.html name="Justin Zobel" affiliation="University of Melbourne, Australia" url="" %}
                        </div>
                        
                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Local Organization Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Qingyao Ai" affiliation="Tsinghua University, China" url="" %}
                            {% include portrait.html name="Yanyan Lan" affiliation="Tsinghua University, China" url="" %}
                            {% include portrait.html name="Yixing Fan" affiliation="Chinese Academy of Sciences, China" url="" %}
                            </div>

                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Workshop Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Xiangnan He" affiliation="University of Science and Technology of China, China" url="" %}
                            {% include portrait.html name="Makoto Kato" affiliation="University of Tsukuba, Japan" url="" %}
                            </div>

                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Tutorial Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Jiaxin Mao" affiliation="Renmin University, China" url="" %}
                            <!--{% include portrait.html name="Laurianne Sitbon" affiliation="Queensland University of Technology, Australia" url="" %}-->
                            </div>

                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Best Paper Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Noriko Kando" affiliation="National Institute of Informatics, Japan" url="" %}
                            {% include portrait.html name="Gianluca Demartini" affiliation="University of Queensland, Australia" url="" %}
                            </div>
                        
                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Proceedings Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Joel Mackenzie" affiliation="University of Queensland, Australia" url="" %}
                            {% include portrait.html name="Johanne Trippas" affiliation="RMIT University, Australia" url="" %}
                            </div>
                        
                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Sponsorship Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Qi Zhang" affiliation="Fudan University, China" url="" %}
                            {% include portrait.html name="Zhifeng Bao" affiliation="RMIT University, Australia" url="" %}
                            </div>

                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Registration Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Keping Bi" affiliation="Chinese Academy of Sciences, China" url="" %}
                            </div>

                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Web Master</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Xiaohui Xie" affiliation="Tsinghua University, China" url="" %}
                            </div>
                        
                        <h1 style="text-align: center; margin-top: 50px;">
                            <strong>Publicity Chairs</strong>
                        </h1>
                        <div class="container" style="display: flex;flex-direction: row;justify-content: center;">
                            {% include portrait.html name="Ting Bai" affiliation="Beijing University of Posts and Telecommunications, China" url="" %}
                            {% include portrait.html name="Damiano Spina" affiliation="RMIT University, Australia" url="" %}
                            </div>
                        
                    </div>
                </div>
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
