---
title: "Guidance for Authors"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v2 header-sticky">
            <div class="container container-space"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        {% include dynamic_banner.html directory="main-banners" picture_num="3" %}

        <div class="container">
            <h1 class="animated fadeInUp">Guidance for Authors</h1>
        </div>
    </div>

        <div class="bg-color-white">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <p>
                            To ensure the quality of submissions, we recommend that authors observe the following guidelines in preparing their papers:
                        </p>

                        <h1 class="margin-bottom-5" style="margin-bottom: 0">
                            Motivation and claims
                        </h1>
                        <br>
                        <ul>
                            <li>
                                The problem is well characterised and motivated, and the potential impact is discussed.
                            </li>
                            <li>
                                The proposed application of the work is contextualised by pertinent knowledge from that domain, including potential ethical, social, or environmental impacts.
                            </li>
                            <li>
                                The research goals and original contributions (that is, the elements that are a contrast to prior art) are stated and are clearly distinguished from prior work.
                            </li>
                            <li>
                                The claims are properly scoped and supported.
                            </li>
                            <li>
                                There are explicit statements of what was done and what was not.
                            </li>
                        </ul>
                        <br>
                        <h1 class="margin-bottom-5" style="margin-bottom: 0">
                            Presentation
                        </h1>
                        <br>
                        <ul>
                            <li>
                                The literature review considers competitive previous solutions for the problem, that is, it is not limited to consideration of other work on the same technology as that explored in the submission.
                            </li>
                            <li>
                                There is a reasoned justification of each of the choices made in each step of the research and each element of the method.
                            </li>
                            <li>
                                Results are presented in keeping with the norms in the field as exemplified in strong prior work.
                            </li>
                            <li>
                                A substantive, focused, and insightful discussion accompanies the results taking into account limitations and scope of the work.
                            </li>
                        </ul>
                        <br>
                        <h1 class="margin-bottom-5" style="margin-bottom: 0">
                            Experiments
                        </h1>
                        <br>
                        <ul>
                            <li>
                                The experimental design and its scale are appropriate to the problem.
                            </li>
                            <li>
                                In comparative studies, appropriate baselines are used; they are deployed and optimized in ways comparable to those used for the proposed method.
                            </li>
                            <li>
                                The experimental results are reliable and generalizable, and preferably show illustrative individual cases as well as aggregated results.
                            </li>
                            <li>
                                Where appropriate, a diversity of data sets are used, including public-domain data sets used in prior work.
                            </li>
                            <li>
                                Sufficient details (with data and code where appropriate) are provided to enable other researchers to assess and reproduce the experiments; this includes the nature, source, and collection process for the data, and the data preparation steps.
                            </li>
                        </ul>
                        <br>
                        <h1 class="margin-bottom-5" style="margin-bottom: 0">
                            Results and analysis
                        </h1>
                        <br>
                        <ul>
                            <li>
                                The evaluation methods and measures address the research questions; use of redundant or highly correlated measures should be avoided.
                            </li>
                            <li>
                                Statistical analysis is used and reported appropriately.
                            </li>
                            <li>
                                Development data, training data, and test data are distinguished from each other.
                            </li>
                            <li>
                                User studies are based on adequately sized, representative cohorts; data is gathered in ways that meet ethical norms, or where appropriate in keeping with prescribed ethics practices.
                            </li>
                            <li>
                                Final results were obtained after all development was complete, that is, not selected because they are the best outcomes amongst a larger set of experiments or hand-fitted to the data.
                            </li>
                        </ul>
                        <br>
                        <h1 class="margin-bottom-5" style="margin-bottom: 0">
                            Common problems that lead to rejection
                        </h1>
                        <br>
                        <p>
                            Issues with papers in relation to the recommendations above can lead to rejection. Other problems that can lead to rejection are as follows.
                        </p>
                        <ul>
                            <li>
                                Literature reviews that lack critical analysis of prior work or that largely consist of lists of papers, that is, do not have insightful discussion.
                            </li>
                            <li>
                                Contributions that consist of small modifications to established techniques, particularly where the contribution is a straightforward variation of the established technique or where there are numerous prior papers exploring similar variations.
                            </li>
                            <li>
                                Methods that appear to be developed and hand-tuned on a specific data set without discussion or demonstration of their lessons for future work or of how the methods would be more generally applicable.
                            </li>
                            <li>
                                Justification of a method solely by its score in experiments, lacking an a priori rationale for why the method is worth exploring.
                            </li>
                            <li>
                                Experiments where the data volumes are too small to support the conclusions.
                            </li>
                            <li>
                                Any form of academic fraud, misrepresentation, or dishonesty.
                            </li>
                        </ul>
                        <br>

                        
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>