<div class="purchase bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="col-md-6 col-xs-12">
                   <div class="row">
                       <div class="col-md-4 col-xs-4">
                           <img class="img-responsive" src="{{ site.baseurl }}/assets/img/logos/acm.png" style="width: 105%; margin-top: 15%;">
                       </div>
                       <div class="col-md-4 col-xs-4">
                           <img class="img-responsive" src="{{ site.baseurl }}/assets/img/logos/sigir.png" style="width: 80%; margin-top: 10%; margin-left: 10%;">
                       </div>
                   </div>
               </div>

               <div class="col-md-6 col-xs-12">
                   <div class="row">
                       <div class="col-md-3 col-xs-3">
                           <img class="img-responsive" src="{{ site.baseurl }}/assets/img/logos/thu.jpg" style="width: 92%; margin-top: 2%;">
                       </div>
                   </div>
               </div>
           </div>
           <!--Logos END-->
       </div>
   </div>
</div>
<!--=== End Content ===-->
<div class="footer-v1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2023 &copy; <a href="#">SIGIR-AP 2023</a> All Rights Reserved.
                    </p>
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="https://www.facebook.com/sigir2020/" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/sigir2020" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div>
    <!--/copyright-->
</div>