{%- assign date = include.date | default: "" -%}
{%- assign event = include.event | default: "" -%}
{%- assign label = include.label | default: "" -%}
{%- assign label_type = "label-default" -%}
{%- if label == "deadline" -%}
  {%- assign label_type = "label-warning" -%}
  {%- assign label = "Deadline" -%}
{%- endif -%}
{%- if label == "notification" -%}
  {%- assign label_type = "label-info" -%}
  {%- assign label = "Notification" -%}
{%- endif -%}
{%- if label == "conference" -%}
  {%- assign label_type = "label-success" -%}
  {%- assign label = "Conference" -%}
{%- endif -%}

<li class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h4 class="pull-left">
            {%- if label != "" -%}
            <span class="label {{ label_type }}">{{ label }}</span> &nbsp;
            {%- endif -%}
            {{ event }}
        </h4>
    </div>
    <div class="col-md-5">
    <h4 class="pull-right">{{ date }}</h4>
    </div>
    <div class="col-md-1"></div>
</li>